@page
@model RazorIdentity.Pages.Prod.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.OnSale)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.OnSale)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.Discontinued)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.Discontinued)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.Category.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.ProductColor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.ProductColor.Color)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Products.ProductId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
