@model IEnumerable<ModelValidationDataAnnotations.Models.Student>

@{
    ViewBag.Title = "ListStudents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListStudents</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Major)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Major)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        <td>
            @Html.ActionLink("Edit", "UpdateStudent", new { id=item.StudentID }) |
            @Html.ActionLink("Details", "StudentDetail", new { id=item.StudentID }) |
            @Html.ActionLink("Delete", "DeleteStudent", new { id=item.StudentID })
        </td>
    </tr>
}

</table>
